.que.certaintywithstudentfbdeferred table.certainty {
    width: 100%;
    table-layout: fixed;
}

.que.certaintywithstudentfbdeferred table.certainty tr > * {
    border: 1px solid gray;
    text-align: center;
    padding: 0 3px;
}

.que.certaintywithstudentfbdeferred table.certainty td * {
    padding: 0 3px;
}

.que.certaintywithstudentfbdeferred table.certainty th {
    background-color: #7840a1;
    color: white;
    overflow: hidden;
}

.que.certaintywithstudentfbdeferred table.certainty td {
    background-color: lavender;
    color: black;
}

.que.certaintywithstudentfbdeferred .chip {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: .5em;
    top: .1em;
    position: relative;
    margin-right: .5em;
}

.que.certaintywithstudentfbdeferred .student-feedback {
    position: relative;
    margin-top: 1em;
}

.que.certaintywithstudentfbdeferred .buttons-feedback {
    float: right;
    margin-top: 3px;
}

.que.certaintywithstudentfbdeferred .cancel-feedback {
    margin-left: 3px;
}

.que.certaintywithstudentfbdeferred .edit-feedback {
    position: absolute;
    top: 1.3em;
    right: 0;
}

/***************************/
/** General Quiz Feedback **/
/***************************/
.qbehaviour-certaintywithstudentfbdeferred .chart-legend {
    margin-top: 1em;
    text-align: center;
}

.qbehaviour-certaintywithstudentfbdeferred .chart-legend div {
    display: flex;
    justify-content: space-around;
}

.qbehaviour-certaintywithstudentfbdeferred .chart-legend-element {
    flex-basis: 25%;
}

.qbehaviour-certaintywithstudentfbdeferred .chart-legend-icon {
    margin-right: .3em;
}

.qbehaviour-certaintywithstudentfbdeferred .chart-legend-bar-icon {
    display: inline-block;
    width: 2.6em;
    height: 1.3em;
    position: relative;
    top: .2em;
}

.qbehaviour-certaintywithstudentfbdeferred .chart-image:empty + .chart-legend {
    display: none;
}

.qbehaviour-certaintywithstudentfbdeferred .chart-area .chart-image {
    width: 100%;
}

.qbehaviour-certaintywithstudentfbdeferred .chart-bottom-legend {
    padding-left: 3em;
    margin-top: 0;
}

.qbehaviour-certaintywithstudentfbdeferred .chart-bottom-legend span {
    display: inline-block;
    vertical-align: top;
}

.qbehaviour-certaintywithstudentfbdeferred .numanswers {
    color: grey;
    font-weight: bold;
}

.qbehaviour-certaintywithstudentfbdeferred canvas {
    /* Necessary for Chrome. */
    max-width: 100%;
}

/*
.qbehaviour-certaintywithstudentfbdeferred .overconfidence,
.qbehaviour-certaintywithstudentfbdeferred .underconfidence {
    font-weight: bold;
}

.qbehaviour-certaintywithstudentfbdeferred .level0 {
    color: #00cc00;
}

.qbehaviour-certaintywithstudentfbdeferred .level1,
.qbehaviour-certaintywithstudentfbdeferred .level2,
.qbehaviour-certaintywithstudentfbdeferred .level3 {
    color: #cc0000;
}
*/